## Versions are pinned for reliability

python-dotenv==1.0.0
#pymongo[srv]==4.6.2
pymongo==4.6.2
streamlit==1.32.0


## LLMs / embeddings
openai==1.13.3
llama-index==0.10.17
transformers==4.38.2
sentence_transformers==2.5.1
torch==2.2.1
llama-cpp-python==0.2.55


## pdf handling
PyPDF2==3.0.1
pypdf==4.1.0

## Utils
ipykernel
ipython
chardet==5.2.0
charset-normalizer==3.3.2